{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 1%",
          "Chrome >= 14",
          "Safari >= 4",
          "Firefox >= 4",
          "Opera >= 10",
          "Edge >= 41",
          "ie >= 9",
          "iOS >= 6",
          "ChromeAndroid >= 4",
          "OperaMobile >= 12"
        ]
      }
    }]
  ],
  "ignore": [
    "dist/*.js",
    "packages/**/*.js"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
